.bd-placeholder-img {
    font-size: 1rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
.login-wrapper{
  margin: 0 auto;
  width: 450px;
  font-size: 15px;
  padding: 30px 0;
}
input{
    margin:0rem;
}
body {
	background: #63738a;
	font-family: 'Roboto', sans-serif;
}
.login-wrapper h2 {
	color: #636363;
	margin: 0 0 15px;
	position: relative;
	text-align: center;
}
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
 

