<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Hello {{printFirstName()}}!</h2>
            <h4>{{printEmail()}}</h4>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="user photo">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" (click)="navigateDashboard()">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" (click)="navigatePhysical()">Push-Data</a>
    <a mat-list-item routerLinkActive="list-item-active">Building Process</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>build</mat-icon>
        Building-Process
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>